<div class="row scrollable tableContainer" data-mcs-theme="dark">
    <table id="list-Container" class="table-responsive table-hover">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificacion</th>
            <th>Sexo</th>
            <th>Ciudad</th>
            <th></th>
        </tr>
        <tbody id="row-Container">
        </tbody>
    </table>
</div>