<form action="">
    <div class="row">
        <label for="">Nombre</label>
        <div class="form-group">
            <input type="text" id="name" name="name" value="">
            <span class="help-block"></span>
        </div>
    </div>
    <div class="row">
        <label for="">Apellido</label>
        <div class="form-group">
            <input type="text" id="lastName" name="lastName" value="">
            <span class="help-block"></span>
        </div>
    </div>
    <div class="row">
        <label for="">Identificacion</label>
        <div class="form-group">
            <input type="text" id="identification" name="identification" value="">
            <span class="help-block"></span>
        </div>
    </div>
    <div class="row">
        <label for="">Sexo</label>
        <div class="form-group">
            <label for="sex" class="radio-inline">
                    <input type="radio" name="sex" value="M">Masculino
         </label>
            <label for="sex" class="radio-inline">
                    <input type="radio" name="sex" value="F">Femenino
         </label>
            <span class="help-block"></span>
        </div>
    </div>
    <div class="row">
        <label for="">Ciudad</label>
        <div class="form-group cities">
            <select id="cityId" name="cityId" style="width: 180px">
                
            </select>
            <img src="img/loader.gif" alt="cargando" class="loader">
            <span class="help-block"></span>
        </div>
    </div>
    <div class="row">
        <input id="cancel" type="button" class="btn btn-default" value="Cancelar">
        <input id="save" type="button" class="btn btn-success" value="Guardar">
    </div>
</form>